.vsconfig
Library
Logs
Packages
Temp
/Prototype.sln
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/.vs/Prototype/v16/.suo
/obj
/.vs/Prototype/v16/Browse.VC.db
/.vs/Prototype/v16/Browse.VC.db-shm
/.vs/Prototype/v16/Browse.VC.db-wal
/.vs/Prototype/v16/Browse.VC.opendb
